* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --primary-black: #000000;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    background: #f8f9fa;
}

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5em;
}

.navbar-brand img {
    height: 56px;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav-item {
    margin-left: 2em;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-black);
}

.nav-link:hover {
    color: var(--primary-color);
}

.monkey {
    display: none;
}

@media (max-width: 768px) {
    .nav-main {
        padding: 0.5em 1.5em;
    }

    .navbar-brand img {
        height: 30px;
    }

    .navbar-toggler {
        display: inline-flex;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    .navbar-toggler-icon {
        color: var(--primary-color);
    }

    #navbar-menu {
        display: none;
    }

    #navbar-menu.open {
        display: block;
        width: 100%;
        padding: 0.5em 1.5em;
        /* background-color: rgb(162, 249, 249); */
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 1em;
    }

    .nav-link {
        font-size: 18px;
    }

    .monkey {
        display: inline-block;
        height: 30px;
        width: auto;
        margin-left: 0.5em;
        animation: swing 2s infinite ease-in-out;
    }

    @keyframes swing {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(15deg); }
        50% { transform: rotate(0deg); }
        75% { transform: rotate(-15deg); }
        100% { transform: rotate(0deg); }
    }
}