* { 
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    /* background: #000; */
}

.nav-main {
    display: flex;
    justify-content: space-between;
    padding: 0em 5em 0.2em 5em;  /* top  right bottom  left */
    /* background: #277; */
}

.navbar-brand img {
    height: 56px;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
    /* background: #a87c7c; */
    text-decoration: none;
    list-style-type: none;  /* Add this line to remove the dots */
}

.nav-item {
    margin-right: 5em;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-black);
}

.nav-link:hover {
    color: var(--primary-color);
}

.monkey{
    display: none;
}



@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }
    .nav-main {
        padding: 0.5em 1.5em 0.5em 1.5em;  /* top  right bottom  left */
    }
    .navbar-brand img {
        height: 40px;
    }
    .navbar-toggler {
        display: inline-flex;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    .navbar-toggler-icon {
        color: var(--primary-color);
    }

    /* .monkey {
        display: inline-block;
        height: auto;
        animation: swing 2s infinite ease-in-out;
        margin-right: 0.5em;
    }    
    @keyframes swing {
        0% {transform: rotate(0deg);}
        25% {transform: rotate(15deg);}
        50% {transform: rotate(0deg);}
        75% {transform: rotate(-15deg);}
        100% {transform: rotate(0deg);}
    }
 */

    .navbar-menu.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* padding: 0.5em 1.5em; */
        background-color: rgb(162, 249, 249);
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        /* height: 100px; */
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .nav-link {
        font-size: 18px;
    }
}