@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    padding-top: 100px;
    padding-bottom: 150px;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navigation{
    background-color: #ffffff;
    padding: 10px;
}

.navbar{
    margin: 1em;
}

.logo img{
    height: 56px;
    width: 188px;
}
.navbar .logo{
    margin-left: 3.5em;
}
.navbar .link{
    margin-top: -2.7em;
    margin-left: 71em;
    
}
.link a{
    padding: 14px;
    text-decoration: none;
    color: #090909; 
}

.home .details{
    height: 500px;
    width: 600px;
    margin-top: 6em;
    margin-left: 4em;
}

.home .details .title h1{
    text-align: center;
    font-family: 'Inknut Antiqua', sans-serif;
    font-size: 71px;
    font-style: normal;
    font-weight: lighter;
}
.home .details .title p{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 7px;
    line-height: 5%;
}
.home .details .para{
    margin-left: 2em;
    margin-top: 4em;
    text-align: justify;
    margin-bottom: 4em; 
    font-family: "Roboto",sans-serif;
}
.btn{
    margin-left: 2em;
    padding-left: 2em;
    padding-right: 2em;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #C35691;
}
.btn a{
    color: #ffffff;
    text-decoration: none;
}
.btn:hover{
    background-color: transparent; 
    border: 2px solid #C35691;
    color: #C35691;
}
.btn:focus,
.btn:active {
  outline: none; 
  box-shadow: none;
}

.home img{
    margin-left: 50em;
    margin-top: -40em;
}

#course{
    margin-bottom: 50px;
}

.split-container {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 20px;
}
  
.left-side {
    flex: 1;
}
  
.left-side img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-top: 50px;
    padding-left: 80px;
    border-radius: 20px;
}
  
.right-side {
    font-family: "Roboto", sans-serif;
    flex: 1;
}
.right-side h1 {
    font-family: "Inknut Antiqua", sans-serif;
    font-size: 45px;
    margin-top: -50px;
    margin-bottom: 50px;
    font-weight: 300;
}
  
.card {
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 20px;
    margin-right: 50px;
    border: none;
    transition: transform 0.3s ease; 
}
.card:hover {
    transform: translateY(-5px);
}

.card-header {
    display: flex;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    border: none;
}  

svg {
    width: 18px;
    height: 18px;
    margin-right: 22px;
    color: #A55680;
}
  
.card-body{
    margin-left: 45px;
}
.card-body a{
    text-decoration: none;
    color: #A55680;
}
.card-body p{
    font-size:13px ;
}
.card-text{
    margin-top: -20px;
    margin-bottom: -2px;
}