@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');

body{
    overflow: hidden;
}
.logo{
    margin: 1em;
    margin-left: 3.5em;
    height: 56px;
    width: 188px;
    background-color: transparent;
}

.con{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.right {
    margin-right: -15em; 
    margin-top: -15em;

}

.right img{
    height: 90%;
}


.left{
    margin-left: 20px;
}
.login h3{
    font-family: "Roboto",sans-serif;
    /* font-size: px; */
    font-weight:bolder;
    margin-left: 2em;
    margin-top: 4em;
}
form{
    margin-top: 5em;
    margin-left: 1em;
    
}
form input{
    display: block;
    padding-bottom: 0.5em;
    margin: 2em;
    width: 500px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #A96287;
    outline: none;
}
#togglePassword {
    position: absolute;
    top: 58%;
    left: 36%;
    transform: translateY(-50%);
    cursor: pointer;
}

form a{
    text-decoration: none;
    color: #A96287;
    margin-left: 3em;
    font-family: "Inter",sans-serif;
    font-size: 12px;
}

.btn{
    padding-left: 10em;
    padding-right: 10em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 7px;
    border: none;
    background: #A96287;
    color: #ffffff;
    margin-left: 6em;
    margin-top: 1em;
}
.btn:focus,
.btn:active {
  outline: none; 
  box-shadow: none;
}


.signuptext{
    margin-left: 10em;
}
.signuptext a{
    text-decoration: none;
    color: #A96287;
    margin-left: 5px;
    font-family: "Inter",sans-serif;
    font-size: 16px;
}

