@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans&family=Poppins:wght@300;400;500;600&family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

.navbar{
    padding: 10px;
}

.navbar-brand{
    margin-left: 3.5em;
}

.navbar-brand img {
    height: 56px;
    width: auto;
}



.nav-link {
    padding: 14px;
    color: #090909;
}

.nav-link.disabled {
    pointer-events: none;
    opacity: 0.6;
}





.con{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left {
    margin-right: -15em; 
    margin-top: -15em;

}

.left img{
    height: 90%;
}

.right{
    margin-left: 20px;
}
.signin h3{
    font-family: "Roboto",sans-serif;
    font-weight:bolder;
    margin-left: 1.7em;
    /* margin-top: 4em; */
}
form{
    margin-top: 5em;
    margin-left: 1em;
}
form input{
    display: block;
    padding-bottom: 0.5em;
    margin: 2em;
    width: 500px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #A96287;
    outline: none;
}
#togglePassword {
    position: absolute;
    top: 58%;
    left: 36%;
    transform: translateY(-50%);
    cursor: pointer;
}
form a{
    text-decoration: none;
    color: #A96287;
    margin-left: 3em;
    font-family: "Inter",sans-serif;
    font-size: 12px;
}
.btn{
    margin-left: 6em;
    margin-top: 1em;
}
.btn{
    padding-left: 10em;
    padding-right: 10em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 7px;
    border: none;
    background: #A96287;
    color: #ffffff;
}
.signuptext{
    margin-left: 10em;
}
.signuptext a{
    text-decoration: none;
    color: #A96287;
    margin-left: 5px;
    font-family: "Inter",sans-serif;
    font-size: 16px;
}

